<mat-toolbar color="primary">
  <button mat-button class="mat-title" routerLink="home">
    <h3>Book Store</h3>
  </button>
</mat-toolbar>

<main>
  <h2 class="mat-title">Search Books</h2>
  <form class="search-books" [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="fill">
          <mat-label>Book Title</mat-label>
          <input matInput formControlName="title">
      </mat-form-field>
      <mat-form-field appearance="fill">
          <mat-label>Published Date</mat-label>
          <input matInput formControlName="publishDate" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-icon-button color="primary" class="mat-btn">Search <mat-icon>search</mat-icon></button>
  </form>

  <app-book-list [books]="books"></app-book-list>
</main>

<div class="overlay" *ngIf="isLoading | async">
  <mat-spinner class="spinner"></mat-spinner>
</div>